#headline {
    padding: 20px 5%;
    color: white;
    font-family: Roboto, sans-serif;
    background-image: url("../Images/background.jpg");
    background-size: 100% 100%;
    overflow: hidden;
}

#headline #blurb {
    float: left;
    font-weight: 200;
    width: 50%;
    font-size: 18px;
    box-sizing: border-box;
    padding-right: 10px;
}

#headline #register {
    float: right;
    padding: 20px;
    width: 50%;
    box-sizing: border-box;
    font-weight: 300;
}

#headline br {
    clear: both;
}

@media screen and (max-width: 600px) {
    #headline #register {
	float: none;
	width: 100%;
    }
    #headline #blurb {
	float: none;
	width: 100%;
    }
}

.container {
    margin:auto;
    max-width: 800px;
}
