#headline {
    padding: 20px 5%;
    color: white;
    font-family: Roboto, sans-serif;
    background-image: url("../Images/background.jpg");
    background-size: 100% 100%;
    overflow: hidden;
}

#headline #blurb {
    float: left;
    font-weight: 200;
    width: 50%;
    font-size: 18px;
    box-sizing: border-box;
    padding-right: 10px;
}

#headline #register {
    float: right;
    padding: 20px;
    width: 50%;
    box-sizing: border-box;
    font-weight: 300;
}

#headline br {
    clear: both;
}

#section1 {
    overflow: hidden;
}

#section1 ul {
    float: left;
    width: 50%;
    padding-right: 1em;
    box-sizing: border-box;
}

#section1 #datetime {
    float: right;
    width: 50%;
    box-sizing: border-box;
}

#section2 {
    background-color: LightGray;
}

#section2 div img {
    width: 45%;
    margin: 1%;
    box-sizing: border-box;
    border-radius: 50% 50%;
    box-shadow: black 0px 0px 5px;
}

@media screen and (max-width: 600px) {
    #headline #register {
	float: none;
	width: 100%;
    }
    #headline #blurb {
	float: none;
	width: 100%;
    }

    #section1 ul {
	float: none;
	width: 100%;
    }

    #section1 #datetime {
	float: none;
	width: 100%;
    }
}

.container {
    margin:auto;
    max-width: 800px;
}

footer {
    padding: 5px 5%;
    background-color: red;
    text-align: center;
}