#headline {
    padding: 0.8em;
    color: white;
    font-family: Roboto, sans-serif;
    background-image: url("../Images/background.jpg");
    background-size: cover;
}

@media (min-width: 600px) {

}

.container {
    margin:auto;
    max-width: 800px;
}
